// Base

* {
  box-sizing: border-box;
}

body, html {
  width: 100%; height: 100%;
  font-size: 62.5%;
  line-height: 1.4;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fff;
  &:hover {
    text-decoration: none;
  }
}

// Var

$btnGradient: linear-gradient(0deg, rgba(255,255,255,0.24) 0%, rgba(255,255,255,0.37) 100%);
$btnGradientHover: linear-gradient(0deg, rgba(255,255,255,0.20) 0%, rgba(255,255,255,0.33) 100%);

// Layout

.stage {
  -webkit-transform-origin: center center;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  background-image: linear-gradient(135deg, #5E1F68 0%, #2A1E73 100%);
  position: relative;
}

.screen {
  transition: .1s;
  -webkit-transform-style: preserve-3d;
  box-shadow: 0px 2px 72px 0px rgba(0, 0, 0, 0.14), 0px 55px 44px -42px rgba(18,20,39,0.60);
  &__inner {
    border-radius: 12px;
    overflow: hidden;
    -webkit-transform: translate3d(0px,0px,40px);
    width: 320px; height: 568px;
  }
}

.step-overlay {
  z-index: 20;
  border-radius: 12px;
  display: none;
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
}

.step {
  display: none;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  height: 100%;
  &.show {
    display: flex;
  }
  &--one {
    // display: none;
    background-image: linear-gradient(135deg, #5AFFFB 0%, #644EFF 100%);
  }
  &--two {
    display: none;
    background-image: linear-gradient(135deg, #FFDA77 0%, #FF4EE3 100%);
  }
  &__header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--logo {
      width: 97px; height: 96px;
      margin-bottom: 2rem;
    }
    &--title {
      font-size: 1.8rem;
      font-style: italic;
      letter-spacing: 6px;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    &--desc {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  &__form {
    margin-bottom: 40px;
    .input {
      margin-bottom: 20px;
      &:nth-child(2) {
        margin-bottom: 10px;
      }
    }
  }
  &__form-fp {
    text-align: right;

  }
  &__footer {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-top: auto;
  }
}

.nav {
  margin-top: 40px;
  text-align: center;
  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

// UI

.btn {
  user-select: none;
  line-height: 1;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 6px;
  border: 2px solid rgba(255,255,255,.58);
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  transition: .2s;
}

.btn-db {
  &__side {
    background-image: $btnGradient;
    padding: 13px 20px;
    text-align: center;
    width: 50%;
    &:first-child {
      border-right: 2px solid rgba(255,255,255,.58);
    }
    &:hover {
      background-image: $btnGradientHover;
    }
  }
}

.btn-single {
  background-image: $btnGradient;
  &__inner {
    width: 100%;
    padding: 13px 20px;
    text-align: center;
  }
  &:hover {
    background-image: $btnGradientHover;
  }
}

.input {
  display: block;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,.58);
  &.float-label {
    .input__label  {
      opacity: 0.8;
      top: -8px; left: 0;
    }
  }
  &__label {
    position: absolute;
    left: 5px; top: 15px;
    transition: .1s;
  }
  &__field {
    color: #fff;
    outline: 0;
    background-color: transparent;
    font-size: 1.4rem;
    padding: 0 0;
    border: none;
    height: 42px;
    width: 100%;
    padding-top: 5px;
    &:focus {
      & + label {
        top: -8px; left: 0;
        opacity: 0.8;
      }
    }
  }
}
